@model Hall_Booking.Models.Hall
@{ Layout ="~/Views/Shared/AdminLayout.cshtml";}
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hall</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallArea)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallCategory.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
