@model IEnumerable<Hall_Booking.Models.Hall>

@{
    ViewData["Title"] = "HallsCard";
    Layout="~/Views/Shared/HomeLayout.cshtml";
}
@*
<h1>HallsCard</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HallName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallCategory.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
<html>


<head>
    <title>Halls</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/AssestsTamplate/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/AssestsTamplate/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/AssestsTamplate/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/AssestsTamplate/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/AssestsTamplate/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/AssestsTamplate/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/AssestsTamplate/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/AssestsTamplate/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/AssestsTamplate/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/AssestsTamplate/css/style.css" type="text/css">
    <style>
        .imgstyle{
            
            height: 213px;
        }
        .capital{
            text-transform: capitalize; 
        }
    </style>
</head>
<body>
    <h1 style="text-align:center; padding-bottom: 33px;">Halls</h1>

     <div class="row" style="padding-bottom: 34px; padding-left: 89px; display: flex;
    justify-content: center;">
       
           <form action="HallsCard" method="post">
               <div class="row">
               <div  class="col">
               <label for="hallname" style="padding: 10px;">Hall Name</label>
               <input  type="text" class="form-control" name="hallname" placeholder="Hall Name" style="width: 238px;" />
             </div>
             <div class="col">
                <label for="address" style="padding: 10px;">Address</label>
               <input  type="text" class="form-control" name="address" placeholder="Hall Address" style="width: 238px;"/>
              </div>
               <br />
               <div style="padding-top: 48px;">
                 
                  
               <button type="submit" class="btnstyle"style="color: black;background-color: antiquewhite;padding: 7px;border-radius: 18px;display: flex;width: 94px;text-align: center;justify-content: center;border-color: antiquewhite;"> search</button>
               </div>
               </div>
           </form>
       </div>
 

<section class="rooms-section spad">
        <div class="container">
           
                
            <div class="row">
                    @foreach(var item in Model){
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                       <img src=@Url.Content("~/Images/" + item.ImagePath)  class="imgstyle" />

                        <div class="ri-text">
                            <h4 class="capital">@Html.DisplayFor(modelItem => item.HallName) Hall</h4>
                            <h3>@Html.DisplayFor(modelItem => item.Price)<span>/Price</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Area:</td>
                                        <td>@Html.DisplayFor(modelItem => item.HallArea)</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Address:</td>
                                        <td class="capital">@Html.DisplayFor(modelItem => item.HallAddress)</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Electronic Device, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a asp-controller="LoginAndRegister" asp-action="Register" class="primary-btn">Book Now</a>
                        </div>
                    </div>
                </div>}
                </div>

                </div>
               </section>

                <!-- Js Plugins -->
    <script src="~/AssestsTamplate/js/jquery-3.3.1.min.js"></script>
    <script src="~/AssestsTamplate/js/bootstrap.min.js"></script>
    <script src="~/AssestsTamplate/js/jquery.magnific-popup.min.js"></script>
    <script src="~/AssestsTamplate/js/jquery.nice-select.min.js"></script>
    <script src="~/AssestsTamplate/js/jquery-ui.min.js"></script>
    <script src="~/AssestsTamplate/js/jquery.slicknav.js"></script>
    <script src="~/AssestsTamplate/js/owl.carousel.min.js"></script>
    <script src="~/AssestsTamplate/js/main.js"></script>
</body>
</html>