@model Hall_Booking.Models.Booking

@{
    Layout ="~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "Delete";
}
<head>
    <title>Booking Delete</title>
    <style>
          .paddingvalue{
            padding: 10px;
        }
    </style>
</head>
<h1 style=" font-family: -webkit-body; font-weight: bold;  font-size: 23px;"> <i class="mdi mdi-delete-circle" style="font-size: 26px;"></i>  Booking Delete </h1>

<h3 style=" font-family: -webkit-body;  font-size: 20px;">Are you sure you want to delete this booking?</h3>
<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayNameFor(model => model.BookingNotes)
        </dt>
        <dd class = "col-sm-10 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayFor(model => model.BookingNotes)
        </dd>
        <dt class = "col-sm-2 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
    
        <dt class = "col-sm-2 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10 paddingvalue"style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayNameFor(model => model.Hall)
        </dt>
        <dd class = "col-sm-10 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayFor(model => model.Hall.Id)
        </dd class>
        <dt class = "col-sm-2 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayFor(model => model.User.Id)
        </dd class>
         <dt class = "col-sm-2 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10 paddingvalue" style=" font-family: -webkit-body;  font-size: 17px;">
            @Html.DisplayFor(model => model.Status.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" style="color: black;background-color: red;text-decoration: none;padding: 13px;border-radius: 18px; width: 94px; height: 43px;"  /> |
        <a asp-action="SearchBooking" style="color: black;background-color: antiquewhite;text-decoration: none;padding: 13px;border-radius: 18px;">Back to List</a>
    </form>
</div>
